.connectButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .authErrorMessage {
    margin-top: 10px;
  }
